<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-success"><i class="glyphicon glyphicon-print"></i></button>
		<button type="submit" id="back" title="<%%TRANSLATION(Back)%%>" class="btn btn-warning"><i class="glyphicon glyphicon-remove"></i></button>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<p class="form-control-static"><%%VALUE(entry_id)%%></p>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Report</label>
			<div class="col-xs-9">
				<p class="form-control-static"><span id="report<%%RND1%%>"><%%COMBOTEXT(report)%%></span></p>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Outcome area</label>
			<div class="col-xs-9">
				<p class="form-control-static"><span id="outcome_area<%%RND1%%>"></span></p>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Outcome</label>
			<div class="col-xs-9">
				<p class="form-control-static"><span id="outcome<%%RND1%%>"><%%COMBOTEXT(outcome)%%></span></p>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Relevant beneficiary group</label>
			<div class="col-xs-9">
				<p class="form-control-static"><span id="beneficiary_group<%%RND1%%>"><%%COMBOTEXT(beneficiary_group)%%></span></p>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Beneficiary group relevance</label>
			<div class="col-xs-9">
				<p class="form-control-static"><%%COMBOTEXT(beneficiary_group_relevance)%%></p>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created</label>
			<div class="col-xs-9">
				<p class="form-control-static"><%%COMBOTEXT(created)%%></p>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created by</label>
			<div class="col-xs-9">
				<p class="form-control-static"><%%VALUE(created_by)%%></p>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Comment</label>
			<div class="col-xs-9">
				<p class="form-control-static"><%%VALUE(comment)%%></p>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Reference</label>
			<div class="col-xs-9">
				<p class="form-control-static"><%%VALUE(reference)%%></p>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Reliability</label>
			<div class="col-xs-9">
				<p class="form-control-static"><%%COMBOTEXT(reliability)%%></p>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Intentionality</label>
			<div class="col-xs-9">
				<p class="form-control-static"><%%COMBOTEXT(intentionality)%%></p>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Equivalence</label>
			<div class="col-xs-9">
				<p class="form-control-static"><%%COMBOTEXT(equivalence)%%></p>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Score</label>
			<div class="col-xs-9">
				<p class="form-control-static"><%%VALUE(score)%%></p>
			</div>
		</div>
	</fieldset>
</div>
