<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="entries-entry_id-<%%VALUE(entry_id)%%>" class="text-right"><%%VALUE(entry_id)%%></td>
		<td id="entries-created-<%%VALUE(entry_id)%%>" class=""><%%VALUE(created)%%></td>
		<td id="entries-created_by-<%%VALUE(entry_id)%%>" class=""><%%VALUE(created_by)%%></td>
		<td id="entries-report-<%%VALUE(entry_id)%%>" class=""><%%VALUE(report)%%></td>
		<td id="entries-outcome_area-<%%VALUE(entry_id)%%>" class=""><%%VALUE(outcome_area)%%></td>
		<td id="entries-outcome-<%%VALUE(entry_id)%%>" class=""><%%VALUE(outcome)%%></td>
		<td id="entries-score-<%%VALUE(entry_id)%%>" class="text-right"><%%VALUE(score)%%></td>
