<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'indicators_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="indicators-indicator_id-<%%VALUE(indicator_id)%%>" class="indicators-indicator_id text-right"><%%SELECT%%><%%VALUE(indicator_id)%%><%%ENDSELECT%%></td>
		<td id="indicators-description-<%%VALUE(indicator_id)%%>" class="indicators-description "><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></td>
