<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="tax_entry_dv_container">
	<!-- child links -->
	<div class="row">
		<div class="col-xs-12">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr>

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="tax_entry_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<label for="created" class="control-label col-lg-3">Created</label>
					<div class="col-lg-9">
						<p class="form-control-static" id="created"><%%COMBOTEXT(created)%%></p>
					</div>
				</div>

				<div class="form-group">
					<label for="created_by" class="control-label col-lg-3">Created by</label>
					<div class="col-lg-9">
						<p class="form-control-static" id="created_by"><%%VALUE(created_by)%%></p>
					</div>
				</div>

				<div class="form-group">
					<label for="report" class="control-label col-lg-3">Report<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="row"><div class="col-xs-10"><%%COMBO(report)%%></div><div class="col-xs-1"><%%PLINK(report)%%></div></div>
					</div>
				</div>

				<div class="form-group">
					<label for="turnover" class="control-label col-lg-3">Turnover</label>
					<div class="col-lg-9">
						<input tabindex="1" maxlength="40" type="text" class="form-control" name="turnover" id="turnover" value="<%%VALUE(turnover)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="payroll_tax" class="control-label col-lg-3">Payroll tax (&#163;m)</label>
					<div class="col-lg-9">
						<input tabindex="1" maxlength="40" type="text" class="form-control" name="payroll_tax" id="payroll_tax" value="<%%VALUE(payroll_tax)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="ni_contribution" class="control-label col-lg-3">NI contribution (&#163;m)</label>
					<div class="col-lg-9">
						<input tabindex="1" maxlength="40" type="text" class="form-control" name="ni_contribution" id="ni_contribution" value="<%%VALUE(ni_contribution)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="business_rates" class="control-label col-lg-3">Business rates (&#163;m)</label>
					<div class="col-lg-9">
						<input tabindex="1" maxlength="40" type="text" class="form-control" name="business_rates" id="business_rates" value="<%%VALUE(business_rates)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="corporation_tax" class="control-label col-lg-3">Corporation tax (&#163;m)</label>
					<div class="col-lg-9">
						<input tabindex="1" maxlength="40" type="text" class="form-control" name="corporation_tax" id="corporation_tax" value="<%%VALUE(corporation_tax)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="other_tax" class="control-label col-lg-3">Other tax (&#163;m)</label>
					<div class="col-lg-9">
						<input tabindex="1" maxlength="40" type="text" class="form-control" name="other_tax" id="other_tax" value="<%%VALUE(other_tax)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="sum" class="control-label col-lg-3">Sum of all tax <button class="btn btn-info btn-xs vspacer-sm" type="button" data-toggle="collapse" tabindex="-1" data-target="#sum-description"><i class="glyphicon glyphicon-info-sign"></i></button></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="sum-description"><div class="alert alert-info">Auto calculated</div></span>

						<input tabindex="1" maxlength="40" type="text" class="form-control" name="sum" id="sum" value="<%%VALUE(sum)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="ratio" class="control-label col-lg-3">Ratio <button class="btn btn-info btn-xs vspacer-sm" type="button" data-toggle="collapse" tabindex="-1" data-target="#ratio-description"><i class="glyphicon glyphicon-info-sign"></i></button></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="ratio-description"><div class="alert alert-info">Auto calculated</div></span>

						<input tabindex="1" maxlength="40" type="text" class="form-control" name="ratio" id="ratio" value="<%%VALUE(ratio)%%>">
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<div class="col-md-4 col-lg-2" id="tax_entry_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		jQuery(function(){
			var formAlreadyChanged = 0;
			jQuery('select, input[type=text], textarea').not(':disabled').eq(0).focus();
			jQuery('form').eq(0).change(function(){
				if(formAlreadyChanged) return;
				if(jQuery('#deselect').length) jQuery('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				formAlreadyChanged = 1;
			});

			jQuery('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function(){ return false; });
		});

	</script>